#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Ledger Wallet Bitcoin
Exec=chromium --profile-directory=Default --app-id=kkdpmhnladdopljabkgpacgpliggeeaf
Icon=chrome-kkdpmhnladdopljabkgpacgpliggeeaf-Default
StartupWMClass=crx_kkdpmhnladdopljabkgpacgpliggeeaf
