#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=NACL Web Plug-in
Exec=chromium --profile-directory=Default --app-id=pbdcmagkbhnjpjlnpibbmggikpedpilc
Icon=chrome-pbdcmagkbhnjpjlnpibbmggikpedpilc-Default
StartupWMClass=crx_pbdcmagkbhnjpjlnpibbmggikpedpilc
